@charset "utf-8";

.aboutUs{
    background-color: aliceblue;
    margin: auto;
    width: 70%;
    height: auto;
    margin-top: 25px;
    display: flex;
}

.aboutText{
    float: right;
    padding: 5px;
    max-width: 60%;
    height: 100%;
    margin: 0 auto;
}

.aboutPicture{
    padding: 10px;
    float: left;
    width: 33%;
    height: auto;
    display: flex;
    
}

/*Having issues with the first image on the about page not fitting correctly when resized.*/
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

h2.aboutHeading{
    padding-left: 10px;
    text-align: left;
    margin-left: 0px;
}

.aboutHeading{
    border-bottom: 2px solid rgb(70, 100, 184);
}