@charset "utf-8";

.profile{
    background-color: aliceblue;
    padding: 30px;
    margin: auto;
    margin-top: 25px;
    width: 70%;
    height: 550px;
}

.profilePicture {
    padding: 10px;
    float: left;
    width: 33%;
    max-width: 33%;
    max-height: 90%;
    display: block;
    overflow: hidden;
}

img{
    width: 100%;
    height: auto;
}

.profileIntro{
    margin: 0px;
    margin-top: 35px;
    width: 60%;
    float: left;
    text-align: left;
}

.nameandtitle{
    display: block;
    border-bottom: 2px solid rgb(70, 100, 184);
}

h1{
    margin-block-end: 5px;
    padding: 0%;
}

h2{
    margin-block-start: 0px;
    margin-block-end: 2px;
    padding: 0px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

h3{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}

ul, li{
    list-style: none;
    margin: none;
    padding-inline-start: 0px;
}